.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: -15rem 0rem 0.7rem 0rem;
}
main{
    display: grid;
    gap: 4rem;
    margin: 1rem 2rem;
}
iframe{
    width: 100%;
    box-shadow: 0rem 0rem 0.5rem;
    margin-top: 1rem;
}
.active{
    border-bottom: 0.2rem solid var(--color-sub);
}
img{
    width: 50%;
}
h2{
    font-family: var(--font-strong);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
main li{
    list-style-type: none;
    margin: 0.5rem 0rem;
    font-family: var(--font-bold);
    font-weight: bold;
    color: var(--color-sub);
    text-transform: uppercase;
}
.vertical-nav{
    position:sticky;
    top: 4rem;
}
@media screen and (max-width: 600px){
    .center{
        margin: 1rem;
    }
    .flex{
        gap: 5rem;
    }
    .grid{
        grid-template-columns: 1fr;
        margin-top: 0rem;
    }
    .vertical-nav{
        position:static;
    }
    img{
        width: 100%;
    }
}