*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --font-bold:'Alfa Slab One',sans-serif;
    --font-strong:'Russo One', sans-serif;
    --font-regular:'Yantramanav', sans-serif;
    --font-button: monospace;
    --bg-color-reg: hsl(114, 61%, 94%);
    --bg-color-blur: hsla(114, 61%, 94%, 0.135);
    --color-sub:#ff3838;
    --color-hover:hsl(244, 100%, 83%);
    --text-color-dark: hsl(0,0,0);
    --text-color-light: rgb(255, 255, 255);
}

body{
    color: var(--text-color);
    background-color: var(--bg-color-reg);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}
a{
    color: var(--text-color);
}
.img{
    width: 100%;
    object-fit: contain;
}
.img1{
    width: 100%;
    object-fit: contain;
}
.button2{
    border:0.1rem solid  var(--color-sub);
    padding: 0.5rem;
    font-family: var(--font-strong);
    color: var(--color-sub);
    background-color: transparent;
}
.button2:hover{
    background-color: var(--color-hover);
    border: none;
    color: var(--text-color-light);
}    
.button3{
    border:0.1rem solid  var(--color-sub);
    border-radius: 5rem;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    font-family: var(--font-strong);
    color: var(--color-sub);
    background-color: transparent;
}
.button3:hover{
    background-color: var(--color-sub);
    border: none;
}
.button3:hover svg{
    fill:white !important;
}    
.max-width-60{
    max-width: 55%;
}
.max-width-80{
    max-width: 80%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: 1rem;
}
.max-font{
    font-family: var(--font-bold);
    font-size:3rem;

}
.min-font{
    font-size: 1rem;
    font-family: var(--font-strong);
}
.social-media{
    display: flex;
    gap: 0.7rem;
}
@media screen and (max-width: 600px) {
    main{
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 100%;
    }
    .img{
        width: 100%
        
    }
    .child4{
        grid-row-start: 3;
    }
    .child6{
        grid-row-start: 7;
    }
    
}