*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --font-bold:'Alfa Slab One',sans-serif;
    --font-strong:'Russo One', sans-serif;
    --font-regular:'Yantramanav', sans-serif;
    --font-button: monospace;
    --bg-color-reg: hsl(114, 61%, 94%);
    --bg-color-blur: hsla(114, 61%, 94%, 0.135);
    --color-sub:#ff3838;
    --color-hover:hsl(244, 100%, 83%);
    --text-color-dark: hsl(0,0,0);
    --text-color-light: rgb(255, 255, 255);
}

body{
    color: var(--text-color);
    background-color: var(--bg-color-reg);
    font-family: var(--font-regular);
}
.nav{
    display: flex;
    position: sticky;
    top: 0;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:var(--bg-color-blur);
    backdrop-filter: blur(0.5rem);
    font-family: var(--font-strong);
    text-transform: uppercase;
    padding: 1rem;
}
.navtitle{
    font-family: var(--font-regular);
    font-weight: bolder;
}
.border-bottom{
    font-family: var(--font-strong);
    font-weight: bolder;
    padding: 0.5rem;
    text-align: center;
}
.border-bottom:hover{
    border-bottom: 0.2rem solid var(--color-sub);
}
.button{
    background-color: var(--color-sub);
    color: var(--text-color-light);
    font-family: var(--font-strong);
    border: none;
    text-transform: uppercase;
    padding: 0.7rem;
}
.button:hover{
    background-color: var(--color-hover);
}
.list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}
a{
    color: var(--text-color-dark);
}
.img{
    width: 100%;
    object-fit: contain;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.flex{
    display: flex;
    justify-content:center;
    gap: 15rem;
}
.active{
    border-bottom: 0.2rem solid var(--color-sub);
}
.center{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 3rem; 
    border-radius: 1rem;
    background-color: var(--text-color-light);
    overflow-x: hidden;
    padding-bottom: 1rem;
    gap: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem;
}
.card-text-margin{
    margin: 0rem 1rem;
}
.card-heading{
    font-family: var(--font-bold);
    font-weight: 900;
}
.card-description{
    font-family: var(--font-button);
    font-weight: 400;
}
#checkout{
    display:none;
    background-color: var(--text-color-light);
    padding: 0.5rem;
    width: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    box-shadow: 0.1rem 0.1rem 1rem;
}
.footer{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    background-color: var(--color-sub);
    color: var(--text-color-light);
    padding: 2rem;
    gap: 3rem;
}
.footer ul {
    list-style-type: none;
}
.footer a:hover {
    text-decoration: underline;
}
.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media screen and (max-width: 600px){
    .center{
        margin: 1rem;
    }
    .flex{
        gap: 5rem;
    }
    .toggle-button{
        display: flex;
        border: none;
        background-color: transparent;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .list{
        display: none;
        flex-direction: column;
    }
    .list.active{
        display: flex;
    }
    main{
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 100%;
    }
    .footer{
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 1rem;
        margin: auto;
    }
}