*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
    --font-bold:'Alfa Slab One',sans-serif;
    --font-strong:'Russo One', sans-serif;
    --font-regular:'Yantramanav', sans-serif;
    --font-button: monospace;
    --bg-color-reg: hsl(114, 61%, 94%);
    --bg-color-blur: hsla(114, 61%, 94%, 0.135);
    --color-sub:#ff3838;
    --color-hover:hsl(244, 100%, 83%);
    --text-color-dark: hsl(0,0,0);
    --text-color-light: rgb(255, 255, 255);
}

body{
    color: var(--text-color);
    background-color: var(--bg-color-reg);
    font-family: var(--font-regular);
}
.button{
    display:block;
    background-color: var(--color-sub);
    color: var(--text-color-light);
    font-family: var(--font-strong);
    border: none;
    text-transform: uppercase;
    padding: 0.7rem;
    max-width: 10rem;
}
.button2{
    border-radius: 0.2rem;
    background-color: var(--color-sub);
    color: var(--text-color-light);
    font-family: var(--font-strong);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: -0.5rem 0.5rem;
}
.button3{
    border: none;
    background-color: transparent;
}
.button4{
    border: none;
    justify-content: flex-start;
    align-self: self-start;
    background-color: transparent;
    max-width: 10rem;
}
.button:hover{
    background-color: var(--color-hover);
}
.button2:hover{
    background-color: var(--color-hover);
}
a{
    color: var(--text-color-dark);
}
.img{
    width: 100%;
    object-fit: contain;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.flex{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin: 0rem 1rem;
}
.center{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 3rem; 
    border-radius: 1rem;
    background-color: var(--text-color-light);
    overflow-x: hidden;
    padding-bottom: 1rem;
    gap: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem;
}
.card-text-margin{
    margin: 0rem 1rem;
}
.card-heading{
    font-family: var(--font-bold);
    font-weight: 900;
}
.card-description{
    font-family: var(--font-button);
    font-weight: 400;
}
.inc-dec{
    display: none;
}
#qty{
    padding: 0.5rem;
}
#checkout{
    display:none;
    background-color: var(--text-color-light);
    padding: 0.5rem;
    width: 100%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    box-shadow: 0.1rem 0.1rem 1rem;
}
#checkout-cart{
    display: none;
    margin: 0rem 1rem 1rem 1rem;
    gap: 0.5rem;
}
.flex2{
    display: none;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--text-color-light);
    box-shadow: 0.1rem 0.1rem 0.5rem;
    gap: 0.5rem;
    margin: 0.5rem;
}
.order-active{
    display: flex;
}
.order-heading{
    background-color: var(--color-sub);
    color: var(--text-color-light);
    text-align: center;
    font-size: large;
    font-family: var(--font-bold);
    text-transform: uppercase;
    padding: 1rem;
}
.order-img{
    width: 7rem;
    height: 5rem;
    object-fit: cover;
}
@media screen and (max-width: 600px){
    .center{
        margin: 1rem;
    }
    .flex{
        gap: 5rem;
    }
    main{
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 100%;
    }
    #checkout-cart{
        margin: 0rem 0rem 1rem 0rem;
    }
    .button2{
        background-color: var(--color-sub);
        color: var(--text-color-light);
        height: 2rem;
        border: none;
        text-transform: uppercase;
        padding: 0.5rem;
        margin: 0rem 0.5rem;
    }
    .button,.button4{
        max-width: 100%;
        margin: 0rem 1rem;
    }
    #checkout{
        
        padding-bottom: 2rem; 
    }
}